block {
  flex: 1 0 auto;
  height: 100%;
  border: 1px solid black;

  &.hit {
    background-color: red;
  }
  &.miss {
    background-color: rgb(0,0, 100);
  }
  &.clickable {
    cursor: crosshair;
    &:hover {
      box-shadow: 0px 0px 21px 0px rgba(255,255,255,.5);
      z-index: 1;
      border-color: rgba(255,255,255,.5);
    }
  }
}